<!DOCTYPE html>
<html>
<head>
	<title>Bonafide Create</title>
</head>
<body>
	<h1> Edit an article </h1>
	<form action="" method="POST">
		<label for="title"> Title Name: </label> <input type="text" name="title" id="title" value=""><br>
		<label for="message"> Message: </label> <input type="text" name="message" id="message" value=""><br>
		<label for="url"> URL-Route: </label> <input type="text" name="url" id="url" value=""><br>
		<label for="theme"> Theme: </label> 
		<select name="theme" id="theme">
			<option value="1">Theme 1</option>
			<option value="2">Theme 2</option>
		</select><br>
		<input type="radio" name="publish" value="1" id="active"><label for="active"> Active</label> <br>
		<input type="radio" name="publish" value="0" id="inactive"><label for="inactive"> Inactive </label><br> 
		<input type="submit" value="Submit">
	</form>
</body>
</html>